Cython
hdf5storage
hickle == 4.0.0
h5py
matplotlib
neo
networkx
numpy
pandas
regex
scipy
seaborn
PyQt5
spikeinterface @ git+https://github.com/grero/spikeinterface.git
spikeinterface_gui
mountainlab_pytools
